@import "./modules/variables.scss";
@import "./modules/mixin-mediaquery.scss";
@import "./modules/extendclass.scss";

#home{
  background-color: #fff7e2;
}
.home__container{
  @extend %container--fixed;
  padding-top: 30vh;
  text-align: center;
  &__img{
    width: 165px;
    height: 239px;
    margin: 0 auto 36px;
    img{
      width: 100%;
    }
  }
  &__title{
    font-family: 'Baloo', cursive;
    font-size: 40px;
    color: #ed6555;
    margin: 0 auto;
  }
  &__subtitle{
    margin: 0 auto;
    font-size: 17px;
    line-height: 2;
    color: #ed6555;
  }
}
.home__container__img:hover{
  animation-name: babymove;
  animation-duration:5s;
  animation-direction:alternate;
  animation-fill-mode:both;
  // animation-iteration-count:infinite;
}


@keyframes babymove{
  0%{
    transform:translate(0,0);
  }
  50%{
    transform:translate(-45vw,20vh);
  }
  100%{
    transform:translate(-25vw,100vh);
  }
}
