#intro{
  background-color: #fff7e2;
}
.intro__container{
  @extend %container--fixed;
  padding-top:30vh;
  display: flex;
  align-items:flex-start;
  &__mainImg{
    width: 165px;
    height: 239px;
    margin: 0 auto 36px;
    visibility: hidden;
  }
  &__story{
    width: 66%;
    background-color: white;
    font-size: 17px;
    line-height: 2;
    color: #4a4a4a;
    padding: 27px 42px;
    position: relative;//爲了做三角型
    z-index: 2;
    &__triangle{
      position: absolute;
      top:50%;
      left: -30px;
      width: 0;
      height: 0;
      border-top: 15px solid #fff7e2;
      border-bottom: 15px solid #fff7e2;
      border-right: 30px solid white;
    }
  }
}
