//width
$width--phone: 343px;
$width--minipad: 580px;
$width--pad: 880px;
$width--pc: 1100px;

//color
$maincolor--green: #009a00;
$hot__color: #ed6555;
$little__color: #9b9b9b;
$background__color: #f7f7f8;
$label__font__color: #9b9b9b;
$label__background__color: #f7f7f8;
